#useDynLib(kml)

export(
       ## Distance3d
       "dist3d",#"matDist3d",

       ## ClusterLongData3d
       "cld3d","gald3d","generateArtificialLongData3d",

       ## kml3d
       "parKml3d","calculTrajMean3d","affectIndiv3d",
       #"kml3dSlow","kml3dFast","fastOrSlow3d",
       "kml3d","choice"
       #alculCriterion","clustering",

       ## ListClustering
#       "listClustering","regroup","ordered","plot",
 #      "calculTrajMean",#"resizePartition","calculTrajMeanPoint","legendCol","varNumAndName","adjustGraph3d

  #     "plot","cld","as.cld","getCluster",
       ## parKml
   #    "parKml",
       ## Kml
    #   "affectIndiv"
       )

exportMethods(
              "clusterLongData3d","plot","plot3d","plot3dPdf"
              )

exportClasses(
              "ClusterLongData3d"
              )

import(methods,graphics,rgl,misc3d,longitudinalData,kml,clv)
